Repository typhoonIscoming/qiankun-micro-application: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, eslint --ext .vue

.lintstagedrc:

{
    "src/**/*.js": ["eslint"],
    "src/**/*.vue": ["eslint --ext .vue"]
}

mod: 配置
  package.json
  src/App.vue
  src/main.ts
Due: eslint --ext .vue

mod: 主应用配置
  package.json
  public/index.html
  src/App.vue
  src/main.ts
  src/router/index.js
Due: eslint, eslint --ext .vue

mod: 主应用
  src/main.ts
Due: none

暂存
  src/main.ts
Due: none

新增子应用
  src/App.vue
  src/main.ts
Due: eslint --ext .vue

qiankun,js的应用
  src/App.vue
  src/main.ts
  src/router/index.js
  src/router/microAppRoutes.js
  src/views/Home.vue
Due: eslint, eslint --ext .vue

备案号
  src/App.vue
  src/components/footer.vue
  src/main.ts
  src/router/index.js
  src/router/microAppRoutes.js
Due: eslint, eslint --ext .vue

重新写匹配
  src/App.vue
  src/main.ts
  src/router/index.js
  src/router/microAppRoutes.js
  src/utils/globalState.js
  src/views/Main.vue
Due: eslint, eslint --ext .vue
